footer {
    margin: 1em;
    background-color: var(--cor-branca);
}
.footer-titulo {
    color: var(--azul);
    font-weight: 500;
    font-size: 18px;
}
.footer-txt {
    font-weight: 300;
    color: var(--azul);
    margin: 1em 0;
}
.footer-email {
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
    color: var(--azul);
}
.footer-email::placeholder {
    color: var(--azul);
    padding-left: 2em;
    background: url(../img/Email.png) no-repeat;
    background-position: left;
}
.copy {
    color: var(--azul);
    font-weight: 300;
    margin-top: .5em;
    font-size: 14px;
    text-align: center;
}