.menu-hamburger {
    height: 24px;
    width: 24px;
    display: inline-block;
    background-image: url(../img/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
}
.container-botao:checked ~ .menu-rotulo > .img-cabecalho {
    background-image: url(../img/menu_aberto.png);
}
.container-botao:checked ~ .menu-rotulo {
    background: var(--azul-degrade);
}

header {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container-header {
    display: flex;
    align-items: center;
}
.img-cabecalho {
    padding: 1em;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container-botao:checked ~ .lista-menu {
    display: block;
}
.container-botao {
    display: none;
}
.lista-titulo, .lista-item {
    padding: 1em;
    background-color: var(--cor-branca);
}
.lista-titulo {
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu-link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.-titulo {
    display: none;
}
.-lista-menu {
    display: none;
}
.-texto-header {
    display: none;
}


@media screen and (min-width: 1024px) {
    .-menu-botao:checked ~ .categorias > .-lista-item {
        background: var(--azul-degrade);
        color: var(--cor-branca);
    }
    .-lista-item {
        padding: 2em 1em;
    }
    .lista-item:hover {
        background: var(--azul-degrade);
    }
    .lista-item:hover > .lista-menu-link {
        -webkit-text-fill-color: var(--cor-branca);
        text-decoration: none;
    }

    .-titulo {
        font-family: var(--font-secundaria);
        font-size: 30px;
        display: block;
    }
    .-titulo-negrito {
        font-weight: 700;
    }
    .menu-hamburger{
        display: none;
    }
    .-lista-menu {
        display: flex;
        gap: 0 1em;
    }
    .-lista-item {
        text-transform: uppercase;
    }
    .-lista-link {
        text-decoration: none;
        color: var(--preto);
    }
    .-img-cabecalho {
        display: none;
    }
    .-menu-botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
    .-menu-botao {
        display: none;
    }
    .container-header {
        display: flex;
    }
}
@media screen and (min-width: 1728px) {
    .-header-icones {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }
    .-lista-menu {
        margin-right: auto;
    }
    .-titulo {
        margin: 0em 1.5em 0 0;
    }
    header {
        padding: 0 2em;
    }
    .-texto-header {
        display: block;
    }
}